Flask>=0.9
Flask-SQLAlchemy==2.0
Flask-Script>=0.5.1
-e git+https://github.com/andreinl/Flask-User.git@1691cb17637a65a44c06459722fa4c6a2d781abc#egg=Flask_User-master
Flask-WTF>=0.8
Jinja2>=2.6
Markdown>=2.2.0
Pygments>=1.5
WTForms>=1.0.2
Werkzeug>=0.8.3
gunicorn>=0.14.6
wsgiref>=0.1.2


